    html {
    scroll-behavior: smooth;
    }

    body { 
        font-family:'Quicksand', sans-serif; 
    }

    a:link { text-decoration: none; }


    a:visited { text-decoration: none; }


    .contentContainer{
        display:grid;
        width: 80%;
        height: auto;
        margin-left:auto;
        margin-right:auto; 
    }

    .header{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        align-items: center;
    }

    .menuItems{
        grid-column: 1 / span 3;
        margin-top:25px;
        display: flex;
        margin-left:10%;
        gap:5%;
    }

    .headerLink{
        margin-left:50px;
        font-size:18px;
        font-style: normal;
        color: black;
        transition: color 0.3s ease;
        font-weight: 100;
    }
    .headerLink:hover{
        color:#7868E6;
    }

    #contactButton{
        grid-column: 4 / span 1;
        justify-self: end;
        margin-right:30px;
        margin-left:30px;
        margin-top:-6px;
        color: #7868E6;
        border-color: #7868E6;
        background-color: white;
        border-radius: 13px;
        border-width:1px;
        height:35px;
        width:130px;
        font-size:18px;
        font-weight:100; 
        transition: 0.7s ease;
    }
      
      #contactButton:hover {
        background-color: #7868E6;
        color: whitesmoke;
      }

    /*Style for content*/

    .introduction{
        display:grid;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        box-sizing: border-box;
        margin-top:75px;
    }

    #heading{
        font-weight:800;
        font-size:75px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    #description{
        color:#414040;
        font-size:24px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        font-weight: 100;
        width:80%;  
        margin-top:-30px;
    }

    #portfolioImage{
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        align-self: center;
        justify-self: center;
        height:450px;
    }

    .sectionHeading{
        font-size:32px;
        margin-top:100px;
        margin-bottom:100px;
        text-align: center;
    }

    .mySkills{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        height:fit-content;
    }

    .skill{
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 11vw;
        width:90%;
        height: 19vw;
        display: grid;
        grid-row-gap: 0px; 
        grid-template-rows: 0.1fr 0.3fr 1fr 0.5fr 0.5fr;
        justify-content: center;
        border: 1px solid rgb(228,251,255,0.4);
        border-radius: 8px;
        background-color: rgb(228,251,255,0.4);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }

    .skillIcon{
        margin-left:auto;
        margin-right:auto;
        margin-top:15px;
    }

    .skillHeading{
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .skillDescription{
        margin-left:auto;
        margin-right:auto;
        width:85%;
        text-align: center;
        color:#414040;
        font-size: 16px;
        font-weight: 300;
        
    }

    .skillDescriptionContainer{
        display: inline-block;
    }

    .languagesContainer{
        display: inline-block;
    }

    .languages{
        color:#7868E6;
        font-weight: 450;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .projectContainer{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        grid-template-rows: auto; /* Three rows with auto height */
        gap: 10px; /* Gap between grid cells */
        width: 97%;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border: 1px solid rgb(228,251,255,0.4);
        border-radius: 8px;
        background-color: rgb(228,251,255,0.4);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }

    .mockupContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
        grid-template-rows: auto; /* Three rows with auto height */
        width: 97%;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border: 1px solid rgb(228,251,255,0.4);
        border-radius: 8px;
        background-color: rgb(228,251,255,0.4);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }

    .projectImg {
        grid-row: 1;
        grid-column: 1;
        height: fit-content;
        padding:20px;
        max-width: 100%;
        height:auto;
    }

    .descriptionContainer{
        grid-column: 2;
        grid-row: 1;
        width: 70%;
        margin-top: 160px;
        text-align: center;
    }

    .projectHeading{
        font-size: 28px;

    }

    .projectDescription{
        font-size: 20px;
        font-weight: 100;
    }

    .readMore{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: fit-content;
        height: fit-content;
        margin-top:20%;
        margin-left:70%;
    }

    .readMoreText{
        grid-column: 2;
        color: #7868E6;
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;

    }

    .readMoreIcon{
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    .traffpunkten{
        margin-top:10%;
    }

    .energyConsumptionAssistant{
        margin: left -15px;
        margin-left:-49px;
    }

    .projectInfo{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 200px auto 150px auto;
        text-align: center;
        width: 70%;
    }

    .projectInfo h2{
        font-size: larger;
    }

    .projectInfo p{
        font-size: large;
        color: #414040;
    }

    .role{
        grid-column: 1;
    }

    .tools{
        grid-column:3;
    }

    .duration{
        grid-column:5;
    }

    .graficProfileContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .graficProfile{
        grid-column: 3;
        grid-row:2;
    }

    .mockupImageGronaMackan{
        margin-left:-10px;
        margin-top:15px;
    }

    .mockupImageECA{
        margin-left:-10px;
    }

    .mockupTraffpunkten{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .mockupImgTraffpunkten{
        grid-column: 2;
        grid-row: 2;
    }

    footer{
        background-color: #7868E6;
        height:40vh;
        margin-top:10%;
        width: 100%;
    }

    .footerContent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;       
        align-items: center;
        justify-content: center;
        text-align: center; 
        padding-top: 1%;
        color:white;
    }

    .footerHeader{
        grid-column: 2;
        font-size: xx-large;
    }

    .footerPhone{
        grid-column: 2;
    }
    
    .phoneText{
        font-size: larger;
    }

    .phoneNumber{
        font-size: large;
    }
      
    .footerContactIcons{
        grid-column: 2;
        margin-top: 5%;
        display: inline-block;
        position: relative;
    }
      
    .contactIcon:before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #3b5998;
        opacity: 0;
        transition: all 0.2s ease;
      }
                
    .contactIcon:hover:before{
        transform: scale(1.1);
        opacity: 1;
    }

    .contactIcon{
        width: 40px;
        height: 40px;
        transition: all 0.2s ease;
    }

    .contactIcon:hover{
        transform: scale(1.1);
    }

    .contactIcon{
        padding:3%;
    }

@media (max-width: 1450px){

    .introduction{
        margin-top:40px;
    }

    #heading{
        font-weight:750;
        font-size:65px;
        margin-bottom:60px;
    }

    #description{
        font-size:22px; 
    }

    #portfolioImage{
        height:410px;
    }

    .skill{
        height: 25vw;
        width: 95%;
    }

    .projectContainer{
        width: 100%;
    }

    .traffpunkten{
        margin-top:10%;
        max-width: 600px;
        max-height: 600px;
    }

    .energyConsumptionAssistant{
        margin-left:-50px;
    }

    .readMoreText{
        font-size: large;
        width:max-content;
    }

    .mockupContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .mockupImages{
        max-width: 1120px;
        max-height: 620px;
        margin-right: 110px;
        margin-top:40px;
    }

    .graficProfile{
        max-width: 1000px;
        max-height: 600px;
    }


}

@media (max-width: 1300px){

    .menuItems{
        margin-right:5%;
    }

    .skill{
        height: 28vw;
        width: 95%;
    }

    .projectContainer{
        width: 100%;
    }

    .traffpunkten{
        margin-top:10%;
        max-width: 600px;
        max-height: 600px;
    }

    .energyConsumptionAssistant{
        margin-left:-50px;
    }

    .readMoreText{
        font-size: large;
        width:max-content;
    }

    .mockupContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .mockupImages{
        max-width: 1050px;
        max-height: 550px;
        margin-right: 110px;
        margin-top:40px;
    }

    .graficProfile{
        max-width: 900px;
        max-height: 500px;
    }
}

@media (max-width: 1000px){

    .menuItems{
        gap: 5px;
    }

    .introduction{
        display:grid;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        box-sizing: border-box;
        margin-top:75px;
    }

    #heading{
        font-weight:600;
        font-size:50px;
    }

    #description{
        font-size:20px;
        font-weight: 300;
        width:90%;
    }

    #portfolioImage{
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        align-self: center;
        justify-self: center;
        height:450px;
    }

    .mySkills{
        display:flex;
        flex-direction: column;
    }

    .skill{
        height: 36vw;
        width: 45%;
    }

    .projectContainer{
        background-color: #3b5998;
        grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
        grid-template-rows: auto;
        width: 100%;
        height:fit-content;
        background-color: white;
        border: none;
        box-shadow: none;
    }

    .projectImg {
        grid-row: 2;
        grid-column: 2;
    }

    .traffpunkten{
        width: 450px;
        
    }

    .descriptionContainer{
        width:500px;
        margin-top: 20px;
        grid-column: 2;
        grid-row:1;
    }

    .projectHeading{
        font-size: 28px;
        font-weight: 550;

    }

    .projectDescription{
        font-size: 20px;
        font-weight: 100;
    }

    .readMore{
        margin-left:75%;
    }

    .traffpunkten{
        margin-top:10%;
        max-width: 600px;
        max-height: 600px;
    }

    .energyConsumptionAssistant{
        margin-left:-50px;
    }

    .readMoreText{
        font-size: large;
        width:max-content;
    }

    .mockupContainer{
        border:none;
        box-shadow: none;
        background-color: white;
        width: 100%;
        margin-top: -100px;
    }
    
    .mockupImages{
        max-width: 800px;
        max-height: 400px;
        margin-top:-40px; 
        margin-left:40px;
    }

    .mockupImgTraffpunkten{
        max-width: 700px;
        max-height: 500px;
        margin-bottom:250px;
    }

    .projectInfo{
        margin-top:-50px;
    }

    .graficProfile{
        max-width: 700px;
        max-height:400px;
        margin-bottom:100px;
        margin-right:50px;
    }

    .footerHeader{
        grid-column: 2;
        font-size: 25px;
    }
}

@media (max-width: 550px){

    .menuItems{
        gap:0px;
        margin-right: 150px;
    }

    .headerLink{
        margin-left:20px;
    }

    .introduction{
        display:grid;
        margin-left:auto;
        margin-right:auto;
        box-sizing: border-box;
        margin-top:75px;
    }

    #heading{
        font-weight:600;
        font-size:30px;
    }

    #description{
        font-size:15px;
        font-weight: 300;
        width:70%;
    }

    #portfolioImage{
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        align-self: center;
        justify-self: center;
        height:300px;
    }

    .mySkills{
        display:flex;
        flex-direction: column;
    }

    .skill{
        height: 36vw;
        width: 45%;
    }

    .projectContainer{
        background-color: #3b5998;
        grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
        grid-template-rows: auto;
        width: 100%;
        height:fit-content;
        background-color: white;
        border: none;
        box-shadow: none;
    }

    .projectImg {
        max-width: 400px;
        max-height: 400px;
        grid-row: 2;
        grid-column: 2;
    }

    .traffpunkten{
        width: 300px;
        
    }

    .descriptionContainer{
        width:500px;
        margin-top: 20px;
        grid-column: 2;
        grid-row:1;
    }

    .projectHeading{
        font-size: 28px;
        font-weight: 550;

    }

    .projectDescription{
        font-size: 20px;
        font-weight: 100;
    }

    .readMore{
        margin-left:75%;
    }

    .traffpunkten{
        margin-top:10%;
        max-width: 600px;
        max-height: 600px;
    }

    .energyConsumptionAssistant{
        margin-left:-50px;
    }

    .readMoreText{
        font-size: large;
        width:max-content;
    }

    .mockupContainer{
        border:none;
        box-shadow: none;
        background-color: white;
        width: 100%;
        margin-top: -100px;
    }
    
    .mockupImages{
        max-width: 800px;
        max-height: 400px;
        margin-top:-40px; 
        margin-left:40px;
    }

    .mockupImgTraffpunkten{
        max-width: 700px;
        max-height: 500px;
        margin-bottom:250px;
    }

    .projectInfo{
        margin-top:-50px;
    }

    .graficProfile{
        max-width: 700px;
        max-height:400px;
        margin-bottom:100px;
        margin-right:50px;
    }

    .footerHeader{
        grid-column: 2;
        font-size: 25px;
    }
}








